extends layout

block content
  h1(style='background-color:black; color:white;') Tasks
  #tasks 
    h2 Health
    div.classHealth
      ul
        //- for item in allCategories
        //-   if item.category === 'health'
        //-     li= item.description
    h2 Wealth
    div.classWealth
      ul
        //- for item in allCategories
        //-   if item.category === 'wealth'
        //-     li= item.description
    h2 Soul
    div.classSoul
      ul
        //- for item in allCategories
        //-   if item.category === 'soul'
        //-     li= item.description

  h1(style='background-color:black; color:white;') Daily Plan
  #plan
    div
      ol
        li drink coffee

          

          

