extends layout

block content
  h1(style='background-color:black; color:white;') Tasks
  #tasks 
    for item in allCategories
      h2= item.category
      div
        ul
          for item in allCategories
            //if item.category = h2 category
            li= item.description

  h1(style='background-color:black; color:white;') Daily Plan
  #plan
    div
      ol
        li healthy List item one
        li healthy List item two
        li healthy List item three
          

          

