extends layout

block content
  h1 Tasks
  #accordion
    h2 Health
    div
      ul
        li healthy List item one
        li healthy List item two
        li healthy List item three
    h2 Wealth
    div
      ul
        li wealthy List item one
        li wealthy List item two
        li wealthy List item three
    h2 Soul
    div
      ul
        li soulful List item one
        li soulful List item two
        li soulful List item three

  h1 Daily Plan
  div
    ol
      li healthy List item one
      li healthy List item two
      li healthy List item three
          

          

